#registerContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & > form {
        display: flex;
        flex-direction: column;
        width: 40%;
        & > .MuiFormControl-root {
            margin:  10px 0;
        }
    }
    & > .clsLogin{
        width: 40%;
        margin:  10px 0;
    }
}
